body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link-current {
  position: relative;
  color: var(--tittle-cl);
}

.link-current::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -31.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background: var(--button-bg);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .link-current::before {
    bottom: -26px;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--tittle-cl);
}

.link .link-current {
  color: var(--tittle-cl);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container__page-header {
  display: flex;
  align-items: center;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/raleway-v19-latin-700.eot");
  src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff");
  font-display: swap;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__item {
  margin-left: 30px;
  margin-top: 30px;
}

.logo {
  display: inline-block;
}

.page-header__logo {
  margin-right: 93px;
}

.label {
  font-family: var(--tittle-font);
  color: var(--tittle-cl);
  font-size: 26px;
  line-height: 0.84;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.label-second {
  font-family: var(--tittle-font);
  color: var(--main-text-cl);
  font-size: 26px;
  line-height: 0.84;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--label-text);
}

.label__second {
  color: var(--alt-tittle-cl);
}

.footer__label {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__label {
    justify-content: start;
  }
}

.page-tittle {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

@media screen and (min-width: 1200px) {
  .page-tittle {
    font-size: 44px;
    line-height: 1.36;
  }
}

.page__tittle {
  color: var(--alt-tittle-cl);
  align-content: center;
}

.address {
  font-style: inherit;
}

.btn {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  background-color: var(--second-bg);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--button-bg);
  color: var(--alt-tittle-cl);
}

.btn--dark {
  padding: 10px 32px;
  display: block;
  margin: auto;
  color: var(--alt-tittle-cl);
  background-color: var(--button-bg);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .btn-list {
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.btn-list__item {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .btn-list__item {
    margin-bottom: 0px;
  }
}

.btn-list__set {
  margin-left: 8px;
  transition-property: color, border-color, backgroud-color, box-shadow, box-shadow;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list__set:hover, .btn-list__set:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--button-bg);
  color: var(--alt-tittle-cl);
}

.btn-sub {
  background: var(--button-bg);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alt-tittle-cl);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-left: 29px;
  padding-bottom: 10px;
  border: none;
  margin: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .btn-sub {
    margin-top: 0;
    margin-left: 12px;
  }
}

.pointer {
  cursor: pointer;
}

.card {
  background: var(--card-bg);
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--box-border-bg);
  border-top: none;
}

.form__contact-svg {
  width: 24px;
  height: 24px;
  fill: var(--card-bg);
  margin-left: 12px;
}

.form__section {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .form__section {
    display: flex;
    align-items: center;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: inline-flex;
  }
}

.menu-part {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-part {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .menu-part {
    display: inline-flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.modal__btn-svg {
  width: 11px;
  height: 11px;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--button-bg);
}

.checkbox-label {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);
  align-items: center;
}

.checkbox-link {
  color: var(--tittle-cl);
}

.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--main-text-cl);
  border-radius: 3px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--button-bg);
  border: var(--button-bg);
  background-image: url(../images/icons/okbtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 40, 40, 0.7);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alt-text-cl);
  margin-bottom: 4px;
}

.modal__field {
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 14px 15px 14px 42px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus {
  outline-color: var(--button-bg);
}

.modal__message {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message:focus {
  outline-color: var(--button-bg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-bg);
  width: max 528px;
  height: max 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--card-bg);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__tittle {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  margin-bottom: 12px;
  justify-content: center;
}

.input {
  position: relative;
}

.modal__icon {
  position: absolute;
  display: flex;
  left: 12px;
  top: 20px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus + .modal__icon {
  fill: var(--button-bg);
}

.btn-send {
  margin-left: 25%;
  align-items: center;
  justify-content: center;
  background: var(--button-bg);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alt-tittle-cl);
  padding-top: 10px;
  padding-right: 56px;
  padding-left: 55px;
  padding-bottom: 10px;
  border: none;
  margin-top: 30px;
}

.overlay__img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  display: block;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--alt-tittle-cl);
}

.serv__icon-svg {
  width: 70px;
  height: 70px;
}

.serv__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  height: 120px;
  border: none;
  background: var(--second-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.subscribe {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--alt-tittle-cl);
}

.subscribe::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe {
    max-width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: 358px;
  }
}

.section-soc {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-soc {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.mobile-menu {
  position: absolute;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px 48px;
  background-color: var(--alt-tittle-cl);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__list {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
  margin-bottom: 302px;
}

.mobile-menu__link-a {
  font-size: 40px;
}

.mobile-menu__part {
  margin-bottom: 64px;
}

.mobile-menu__part-item {
  margin-bottom: 32px;
}

.mobile-menu-p__item2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--tittle-cl);
}

.mobile-menu-p__item {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--alt-text-cl);
}

.mobile-menu__socials {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--tittle-cl);
}

.mobile-menu__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu__btn {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--button-bg);
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn.is-open {
  display: none;
}

.mobile__close-btn {
  position: absolute;
  display: flex;
  top: 10px;
  right: 15px;
  border: none;
  background-color: var(--card-bg);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__close-btn:hover, .mobile__close-btn:focus {
  fill: var(--button-bg);
}

.mobile__link-current {
  position: relative;
  color: var(--tittle-cl);
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-boerder-bg);
}

.page-header__item {
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-header__item {
    margin-left: 305px;
    margin-right: 30px;
  }
}

.page-header__mail-svg {
  width: 16px;
  height: 10px;
  fill: var(--alt-text-cl);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__item:focus .page-header__mail-svg,
.page-header__item:hover .page-header__mail-svg {
  fill: var(--tittle-cl);
}

.page-header__tel-svg {
  width: 10px;
  height: 16px;
  fill: var(--alt-text-cl);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__item2:focus .page-header__tel-svg,
.page-header__item2:hover .page-header__tel-svg {
  fill: var(--tittle-cl);
}

.page-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--alt-text-cl);
}

.page-header__item2 {
  color: var(--alt-text-cl);
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-header__item2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.client-icon-list {
  display: flex;
  align-items: center;
}

.client-icon__item {
  height: 92px;
  display: flex;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .client-icon__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-icon__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--socials);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon__link:hover, .client-icon__link:focus {
  border-color: var(--button-bg);
}

.client__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199.98px) {
  .client__tittle {
    font-size: 28px;
  }
}

.client-icon__svg {
  width: 106px;
  height: 60px;
  fill: var(--socials);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon__link:hover .client-icon__svg,
.client-icon__link:focus .client-icon__svg {
  fill: var(--tittle-cl);
}

.fotter-address {
  color: var(--text-footer);
}

.footer__address-list {
  color: var(--alt-tittle-cl);
}

.footer__menu {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__menu {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu-part {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.footer-icon__svg {
  width: 20px;
  height: 20px;
  fill: var(--alt-tittle-cl);
}

.footer__address {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-socials);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:focus, .footer-icon__link:hover {
  background-color: var(--button-bg);
}

.footer-icon-list {
  display: inline-flex;
}

.footer-icon__item:not(:last-child) {
  margin-right: 10px;
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__social-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__social-item {
    text-align: start;
  }
}

.footer__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.nav {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: auto;
}

.product-list__item {
  letter-spacing: 0.03em;
  flex-basis: 100%;
  background: var(--card-bg);
  max-width: 370px;
  min-height: 404px;
}

@media screen and (min-width: 768px) {
  .product-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.product__item {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: bold;
  color: var(--main-text-cl);
  text-align: start;
  margin-bottom: 4px;
}

.product__section {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);
  text-align: start;
  margin: 0;
}

.product-list__a:hover .overlay,
.product-list__a:focus .overlay {
  transform: translateY(0);
}

.product-list__a {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list__a:focus, .product-list__a:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1199.98px) {
  .products {
    display: none;
  }
}

.products__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}

.products__item-text {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  margin-bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
}

.item {
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__tittle {
  text-align: center;
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199.98px) {
  .section__tittle {
    font-size: 28px;
  }
}

.service__item {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .service__item {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .service__item {
    text-align: start;
  }
}

.service__text {
  color: var(--alt-text-cl);
  letter-spacing: 0.03em;
}

.serv__item {
  flex-basis: 100%;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .serv__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .serv__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team {
  background-color: var(--second-bg);
}

.team__item {
  text-align: center;
  flex-basis: 100%;
  background: var(--card-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team__item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  color: var(--alt-text-cl);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--socials);
}

.team__icon-link:focus .team__icon-svg,
.team__icon-link:hover .team__icon-svg {
  fill: var(--alt-tittle-cl);
}

.team__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--card-bg);
  border-radius: 50%;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-link:focus, .team__icon-link:hover {
  background-color: var(--button-bg);
}

.team__icon-list {
  display: inline-flex;
}

.team__icon-item:not(:last-child) {
  margin-right: 10px;
}

.tittle-box {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/gallery/mobile/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .tittle-box {
    background-image: url(../images/gallery/mobile/hero/hero.jpg);
  }
}

@media screen and (min-width: 768px) {
  .tittle-box {
    background-image: url(../images/gallery/tablet/hero/hero.jpg);
  }
}

@media screen and (max-width: 1199.98px) {
  .tittle-box {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.block--dark-bg {
  background-color: var(--footer-bg);
  color: var(--text-footer);
}

:root {
  --main-text-cl: #212121;
  --tittle-cl: #2196f3;
  --alt-text-cl: #757575;
  --alt-tittle-cl: #ffffff;
  --text-footer: rgba(255, 255, 255, 0.6);
  --label-text: #000000;
  --socials: #afb1b8;
  --footer-socials: rgba(255, 255, 255, 0.1);
  --footer-bg: #2f303a;
  --second-bg: #f5f4fa;
  --button-bg: #2196f3;
  --box-border-bg: #eeeeee;
  --header-boerder-bg: #ececec;
  --card-bg: #ffffff;
  --main-font: "Roboto", sans-serif;
  --tittle-font: "Raleway", sans-serif;
}
/*# sourceMappingURL=main.css.map */