:root {
    --main-text-cl: #212121;
    --tittle-cl: #2196f3;
    --alt-text-cl: #757575;
    --alt-tittle-cl: #ffffff;
    --text-footer: rgba(255, 255, 255, 0.6);
    --label-text: #000000;
    --socials: #afb1b8;
    --footer-socials: rgba(255, 255, 255, 0.1);

    --footer-bg: #2f303a;
    --second-bg: #f5f4fa;
    --button-bg: #2196f3;
    --box-border-bg: #eeeeee;
    --header-boerder-bg: #ececec;
    --card-bg: #ffffff;

    --main-font: "Roboto", sans-serif;
    --tittle-font: "Raleway", sans-serif;
}
